*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
}
.video-cont{
    height:100vh;
    width: 100vw;
    background-color: black;
}
video{
    height:100%;
    width:100%; 
}
.action-cont{
    height: 12rem;
    width: 5rem;
    /* background-color: lightblue; */
    position: absolute;
    top: calc((100vh - 12rem)/2);
    right: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}

.action-cont>*{
    width:100%;
    height: 5rem;
    border-radius: 50%;
    /* background-color: blueviolet; */
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.record-btn{
    background-color: red;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.capture-btn{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.scale-record{
    animation-name: scale-record;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.scale-capture{
    animation-name: scale-capture;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes scale-record{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}

@keyframes scale-capture{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}

.timer-cont{
    position: absolute;
    bottom:5rem;
    right:5rem;
    color: aqua;
    font-size: 0.8rem;
}
.timer{
    display: none;
}

.filter-cont{ 
    position: absolute;
    bottom: calc((100vh - 16rem)/2);
    left:5rem;
    height: 18rem;
    width: 5rem;
    background-color: aqua;
    z-index: 5;
}

.filter{
    height: 4rem;
    background-image: url(https://picsum.photos/id/133/200/300);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: #ffecb3a6; */
    background-blend-mode:color-burn;   
}
.purple{
    background-color: #d32fee24;
}
.aqua{
    background-color: #2dc6bd33;
}
.contrast{
    filter: contrast(150%) brightness(120%) sepia(20%);
}
.black-white{
    filter: grayscale(100%);
}
.transparent{
    background-color: transparent;
}

.filter-layer{
    position: absolute; 
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    /* background-color: #be43d261; */
    z-index: 1;
} 
.material-icons{
    color: white;
    font-size: 4rem;
}
.gallery {
    position: absolute;
    left: 5rem;
    bottom: 4rem;
    z-index: 2;
}

.gallery:hover{
    cursor: pointer;
}